/***    DARK   ***/

.darkBody{
    background-color:   #37383C;
}

.darkTrending{
    background-color: #222326;;
}

.whiteText{
    color: white !important;
}

.whiteBorder{
    border: 1px solid white !important;
}

.darkVerMas{
    content: url('../images/CTA-ver+-modo-noc.svg') !important;
}

.darkVerMas:hover{
    content: url('../images/CTA-ver+hover-modo-noc.svg') !important;
}

/** Home **/

.darkNav{
    border-top: 5px solid black;
}

.darkNavLogo{
    content: url('../images/Logo-modo-noc.svg');
}

.darkNavLogoMobile{
    content: url('../images/logo-mobile-modo-noct.svg') !important;
}

.navWhiteText{
    color: white !important;
}

.navWhiteText:active{
    color: #9CAFC3 !important;
}

.darkCreateImg{
    content: url('../images/CTA-crear-gifo-modo-noc.svg') !important;
}

.darkCreateImg:hover{
    content: url('../images/CTA-crear-gifo-hover-modo-noc.svg') !important;
}

.darkCreateImg:active{
    content: url('../images/CTA-crear-gifo-active-modo-noc.svg') !important;
}

.darkNavIcon{
    content: url('../images/burger-modo-noct.svg') !important;
}

.respmenu .menuButton:checked ~ .menuIcon .darkNavIcon{
    content: url('../images/close-modo-noct.svg') !important;
} 

.darkBurgerMenu{
    background: black !important;
}

/*Search*/

.whiteSearchIcon{
    content: url('../images/icon-search-mod-noc.svg') !important;
}

.whiteResetIcon{
    content: url('../images/close-modo-noct.svg') !important;
}

.darkSearchBar{
    border: solid 1px #37383C !important;
}

/*Trendings*/

.darkLeftArrow{
    content: url('../images/button-slider-left-md-noct.svg');
}

.darkLeftArrow:hover{
    content: url('../images/button-slider-left.svg') !important;
    background-color: white;
}

.darkRightArrow{
    content: url('../images/button-slider-right-md-noct.svg');
}

.darkRightArrow:hover{
    content: url('../images/button-slider-right.svg') !important;
    background-color: white;
}