/***    DARK   ***/

.darkBody{
    background-color:   #37383C !important;
}

.darkTrending{
    background-color: #222326;;
}

.whiteText{
    color: white !important;
}

.whiteBorder{
    border: 1px solid white !important;
}

.darkVerMas{
    content: url('../images/CTA-ver+-modo-noc.svg') !important;
}

.darkVerMas:hover{
    content: url('../images/CTA-ver+hover-modo-noc.svg') !important;
}

/** Home **/

.darkNav{
    border-top: 5px solid black;
}

.darkNavLogo{
    content: url('../images/Logo-modo-noc.svg');
}

.darkNavLogoMobile{
    content: url('../images/logo-mobile-modo-noct.svg') !important;
}

.navWhiteText{
    color: white !important;
}

.navWhiteText:active{
    color: #9CAFC3 !important;
}

.darkCreateImg{
    content: url('../images/CTA-crear-gifo-modo-noc.svg') !important;
}

.darkCreateImg:hover{
    content: url('../images/CTA-crear-gifo-hover-modo-noc.svg') !important;
}

.darkCreateImg:active{
    content: url('../images/CTA-crear-gifo-active-modo-noc.svg') !important;
}

.darkNavIcon{
    content: url('../images/burger-modo-noct.svg') !important;
}

.respmenu .menuButton:checked ~ .menuIcon .darkNavIcon{
    content: url('../images/close-modo-noct.svg') !important;
} 

.darkBurgerMenu{
    background: black !important;
}

/*Search*/

.whiteSearchIcon{
    background-image: url('../images/icon-search-mod-noc.svg') !important;
}

.whiteResetIcon{
    content: url('../images/close-modo-noct.svg') !important;
}

.darkSearchBar{
    border: solid 1px #37383C !important;
}

.darkStickyBar{
    background-color: #37383C !important;
}

.darkStickyList{
    background-color: #37383C !important;
    border: solid 1px white !important;
}

/*Trendings*/

.darkLeftArrow{
    content: url('../images/button-slider-left-md-noct.svg');
}

.darkLeftArrow:hover{
    content: url('../images/button-slider-left.svg') !important;
    background-color: white;
}

.darkRightArrow{
    content: url('../images/button-slider-right-md-noct.svg');
}

.darkRightArrow:hover{
    content: url('../images/button-slider-right.svg') !important;
    background-color: white;
}

/*CreateGif*/

.darkCamera{    
    content: url('../images/camara-modo-noc.svg') !important;
}

.darkBigBox{
    border: solid 1px white !important;
}

.darkBorderlessBox{
    border: solid 1px #37383C !important;
}

.darkStep1{    
    content: url('../images/paso-a-paso-mod-noc1.svg');
}

.darkStep2{    
    content: url('../images/paso-a-paso-mod-noc2.svg');
}

.darkStep3{    
    content: url('../images/paso-a-paso-mod-noc3.svg');
}

.darkOnStep1{
    content: url('../images/paso-a-paso-hover-mod-noc1.svg') !important;
}

.darkOnStep2{
    content: url('../images/paso-a-paso-hover-mod-noc2.svg') !important;
}

.darkOnStep3{
    content: url('../images/paso-a-paso-hover-mod-noc3.svg') !important;
}

.darkBtnAction{
    border: 1px solid white  !important;
    color: white !important;
    background-color: #37383C;
}

.darkBtnAction:hover{
    border: 1px solid white  !important;
    color:#37383C !important;
    background-color:  white !important;
}

.darkPeliculaImg{    
    content: url('../images/pelicula-modo-noc.svg') !important;
}

/*overlay*/

.darkClose{
    content: url('../images/close-modo-noct.svg') !important;
}

.darkOverlayIcons{
    border: solid 0px #CED7E1 !important;
}

/*Footer*/

.darkFace:hover{
    content: url('../images/icon_facebook_noc.svg') !important;
}

.darkTwitter:hover{
    content: url('../images/icon_twitter_noc.svg') !important;
}

.darkInsta:hover{
    content: url('../images/icon_instagram_noc.svg') !important;
}